.CenterBody-warpper {
  width: 100%;
  height: 100%;

  color: var(--text-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CenterBody-warpper-inbox {
  height: 100%;
  background-color: var(--panel-bg);
  width: 100%;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

.CenterBody-warpper-inbox.collapsed {
  margin-left: 10px;
  padding-right: 1%;
  width: 99%;
}
