.CenterBody-warpper {
  width: 100%;
  height: 100%;

  color: var(--text-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CenterBody-warpper-inbox {
  height: 100%;
  background-color: var(--panel-bg);
  width: 100%;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

.CenterBody-warpper-inbox.collapsed {
  margin-left: 10px;
  padding-right: 1%;
  width: 99%;
}

.settin_bar {
  position: relative;
  width: 100%;

  display: flex;
  height: 40px;

  align-items: center;
}

.arrayimg {
  padding: 2px;
  height: 80%;
  border-radius: 5px;
  cursor: pointer;
}

.arrayimg:hover {
  background-color: rgba(190, 190, 190, 0.2);
}
