.LeftSideBar-warpper {
  width: 100%;
  height: 100%;

  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.LeftSideBar-warpper-inbox {
  height: 100%;
  background-color: #111111;
  width: 100%;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}

.LeftSideBar-warpper-inbox.collapsed {
  opacity: 1;
}

.Detail {
  height: 96%;
  color: white;
  font-size: 13px;
  width: 90%;
  transition: all 0.5s ease;
}
.Detail.collapsed {
  transition: all 0.5s ease;
}

.Title {
  font-size: 20px;
  height: 5%;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.CloseBtn {
  height: 50%;
  right: 0;
  cursor: pointer;
  margin-left: auto;
  transition: translateX 0.5s ease;
}

.CloseBtn.collapsed {
  transform: rotate(-180deg) translateX(85%);
}
