.LeftSideBar-warpper {
  width: 100%;
  height: 100%;

  color: var(--text-color);
  border-radius: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.LeftSideBar-warpper-inbox {
  height: 100%;
  background-color: var(--bg-color);
  width: 100%;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  aspect-ratio: 1/1;

  min-width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0s ease;
}

.LeftSideBar-warpper-inbox.collapsed {
  opacity: 1;
}

.Detail {
  height: 96%;
  color: var(--text-color);
  font-size: 13px;
  width: 90%;
  transition: all 0.5s ease;
}
.Detail.collapsed {
  display: flex;
  justify-content: center;

  width: 50%;
  transition: all 0.5s ease;
}

.Title {
  font-size: 20px;
  height: 5%;
  display: flex;
  width: 100%;
  align-items: center;
  font-weight: 600;
  position: relative;
  justify-content: flex-start;
  transition: all 0.5s ease;
}

.Title.collapsed {
  justify-content: center;
}

.Title.collapsed .flex-spacer {
  display: none;
}

.Title_Font {
  transition: max-width 0.5s ease, opacity 0.5s ease;
}

.Title_Font.collapsed {
  max-width: 0;
  opacity: 0;
}

.flex-spacer {
  flex: 1;
}

.CloseBtn {
  border-radius: 5px;
  padding: 6px;
  position: absolute;
  height: 25px;
  cursor: pointer;
  right: 0;
  transition: all 0.3s ease;
}

.CloseBtn.collapsed {
  right: unset;
  transform: rotate(180deg);
}

.CloseBtn:hover {
  background-color: #3a3a3a;
}
