.Tag-wrapper {
  width: 100%;
  height: 100%;
  overflow-x: auto; /* 가로 스크롤 */
  overflow-y: hidden; /* 세로 스크롤 제거 */
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: nowrap;
  padding-bottom: 10px;
}

.Tag-Box {
  flex: 0 0 auto; /* 🌟 고정 너비 + 줄어들지 않음 */
  color: var(--text-color);
  height: calc(100%);
  width: 90px;
  background-color: var(--tag-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 120px;
  white-space: nowrap; /* 태그 텍스트 줄바꿈 방지 */
  cursor: pointer;
}

.deleteTag {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  aspect-ratio: 1/1;
  border-radius: 100px;
}

.deleteTag:hover {
  background-color: var(--hover-color);
}

.close_Tag {
  color: var(--text-color);
  display: flex;
  aspect-ratio: 1/1;
  justify-content: center;
  border-radius: 100px;
  background-color: var(--tag-color);
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.Tag-wrapper::-webkit-scrollbar {
  height: 4px; /* ← 스크롤바 두께 */
}

.Tag-wrapper::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  /* 스크롤바 색 */
  border-radius: 0px;
}

.Tag-wrapper::-webkit-scrollbar-track {
  background: var(--tag-color); /* 트랙 배경 */
}

.TagPlus-wrapper {
  color: var(--text-color);
  display: flex;

  margin-top: 20px;
  height: 30px;
  width: 100%;
  align-items: center;
}

.TagPlus {
  font-size: 13px;
  color: var(--placeHolder-color);
  background-color: var(--tag-color);
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  height: 100%;
  padding-left: 20px;
  width: 80px;
}

.PlusBtn {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;
  aspect-ratio: 1/1;
  height: 60%;
  border-radius: 50px;
}

.PlusBtn:hover {
  background-color: var(--hover-color);
}

.inputTag {
  color: var(--text-color);
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}
