.footer-wrapper {
  border-top: 2px solid var(--scrollbar-color);
  height: 70px;
  color: var(--text-color);

  display: flex;
  align-items: center;
}

.footer-wrapper-inbox {
  width: 100%;

  height: 90%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
