.body-wrapper {
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.body-wrapper-inbox {
  margin-bottom: 10px;
  height: 94%;
  width: 99%;
}

.ResizeHandle {
  width: 3px;
  cursor: col-resize;
  background-color: rgba(255, 255, 255, 0);
}

.ResizeHandle:active {
  background-color: rgba(92, 92, 92, 0.5);
}

.ResizeHandle:hover {
  background-color: rgba(192, 192, 192, 0.5);
}

.ResizeHandle::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 77%;
  background: transparent;
  z-index: 9;
  transform: translate(-33%);
}

.panel-transition {
  transition: flex-basis 0.32s ease;
  will-change: flex-basis;
}
