.RightSideBar-warpper {
  width: 100%;
  height: 100%;

  color: var(--text-color);
  border-radius: 5px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.RightSideBar-warpper-inbox {
  height: 100%;
  background-color: var(--panel-bg);
  width: 100%;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}
