body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 기본(다크) 테마 */
:root {
  --bg-color: #111111;
  --text-color: #ffffff;
  --panel-bg: #1d1d1d;
  --mainbg-color: #000000;
  --tag-color: #333333;
  --scrollbar-color: #747474;
}

/* 라이트 테마 */
:root[data-theme="light"] {
  --bg-color: #f3f3f3;
  --text-color: #000000;
  --panel-bg: #f1f1f1;
  --mainbg-color: #ffffff;
  --tag-color: #e0e0e0;
  --scrollbar-color: #929292;
}

/* 앱 전체에 사용하는 기본 배경/글자색 */
body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.LeftSideBar-warpper-inbox {
  background-color: var(--panel-bg);
}

:root[data-theme="light"] .close-icon {
  filter: invert(1);
}

:root[data-theme="dark"] .close-icon {
  filter: invert(0);
}
